<div id="<:v:tabcontrolname>" class="tabcontrol <:v:customtabclass>">
    <div id="<:v:tabcontrolname>_control" class="tabcontrolcontrol"></div>
    <div id="<:v:tabcontrolname>_header" class="tabcontrolheader">
        <div class="tabcontrolheadercontainer clearfix">
            <:a:tabs|looptemplate?module=framework&name=tabcontrol.tabheader>    
        </div>
    </div>
    <div id="<:v:tabcontrolname>_body" class="tabcontrolbody">
        <:a:tabs|looptemplate?module=framework&name=tabcontrol.tabcontent>    
    </div>
</div>
<script>
    switchTab('#<:v:tabcontrolname>_control', '#<:v:tabcontrolname>_tab_<:v:firstid>');    
</script>
