  <tr class="mod2_<:v:_mod2_>">
    <td>&nbsp;</td>
    <td><:v:first_name></td>
    <td><:v:last_name></td>
    <td><:v:rel_name></td>
    <td><:v:passport></td>
    <td><:v:date_birth|dateformat?format=fulldate></td>
    <td><:v:age></td>
    <td>
      <a class="bookfamilytooltip" href="#" target="_blank" rel="?i=<:v:_module_>/bookfamilytooltip&id=<:v:person_id>" title="Editing booking family member"><img src="../images/icons/preview.png" border="0"></a>
      &nbsp;
      <a href="javascript:gc('Really delete this guest?', '?f=<:v:_module_>/deletebookingguest&id=<:v:person_id>');"><img src="../images/icons/delete.png" border="0" /></a>
    </td>
  </tr>