<h1><:v:pagetitle></h1>

<p>Choose one parameter to identify yourself:</p>

<form action="">
<input type="hidden" name="f" value="<:v:_module_>/reminder" />
<input type="hidden" name="url" value="<:v:url>" />
<table>
  <tr>
    <th>
      <select name="field">
        <option value="username">Your username</option>
        <option value="email">Your office e-mail address</option>
        <option value="fullname">Your full name</option>
      </select>
    </th>
    <td><input type="text" size="30" name="value" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Request password" /></td>
  </tr>
</table>
</form>