<h1>Change Password</h1>

<form name="frmChangePassword" action="" method="post">
<input type="hidden" name="f" value="users/setpass">
<table class="form">
  <tr>
    <th>User name</th>
    <td><:v:username></td>
  </tr>
  <tr>
    <th>Type in old password</th>
    <td><input type="password" name="old"></td>
  </tr>
  <tr>
    <th>Choose new password</th>
    <td><input type="password" name="new"></td>
  </tr>
  <tr>
    <th>Repeat new password</th>
    <td><input type="password" name="new2"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Change"></td>
  </tr>
</table>
</form>