<!DOCTYPE html> 
<html> 
	<head> 
	<title>Tickets :: <:v:title></title> 
	
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
</head> 

<body> 

<div data-role="page" id="notifications" data-title="Notifications">
  <h3>Ticketing system</h3>
	<div data-role="header">
		<h1>Notifications</h1>
	</div>

	<div data-role="content">	
    <a href="#tickets2react">Switch to tickets to react</a>		
	</div>
</div>

<div data-role="page" id="tickets2react" data-title="Tickets to react">
  <h3>Ticketing system</h3>
	<div data-role="header">
		<h1>Tickets to react</h1>
	</div>
	<div data-role="content">	
    <a href="#notifications">Switch to notifications</a>		
	</div>
</div>


</body>
</html>