  <Employee>
    <FirstName><:v:strFirstName></FirstName>
    <LastName><:v:strLastName></LastName>
    <Nick><:v:strNick></Nick>
    <OfficeID><:v:lngWorkPlace></OfficeID>
    <OfficeName><:v:OfficeName></OfficeName>
    <DepartmentID><:v:team_id></DepartmentID>
    <DepartmentName><:v:DepartmentName></DepartmentName>
    <AbsenceCalendar><:v:absencecalendar></AbsenceCalendar>
    <CalendarTypeName><:v:CalendarTypeName></CalendarTypeName>
    <LineManager><:v:line_manager></LineManager>
    <LineManagerName><:v:LineManagerName></LineManagerName>
    <DeputyStaff><:v:deputy_staff></DeputyStaff>
    <DeputyStaffName><:v:DeputyStaffName></DeputyStaffName>
    <AvatarID><:v:avatar></AvatarID>
    <Username><:v:username></Username>
  </Employee>