<h1><:v:pagetitle></h1>

<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/assignofficecalendar" />
<input type="hidden" name="id" value="<:v:id>" />
<input type="hidden" name="employee" value="<:v:employee>" />
<table class="form">
  <tr>
    <th>Employee</th>
    <td><:v:strFirstName> <:v:strLastName> (<:v:strNick>)</td>
  </tr>
  <tr>
    <th>Calendar</th>
    <td>
      <select name="officecalendar">
        <:a:officecalendaroptions|looptemplate?module=main&name=option>
      </select>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th>Date From</th>
    <td><input type="text" class="calendardate" title="Click to select date" size="10" maxlength="10" name="date_since" id="date_since" value="<:v:date_from|dateformat?format=fulldate>" /></td>
    <td>&nbsp; &nbsp; keep blank to set January, 1st</td>
  </tr>
  <tr>
    <th>Date To</th>
    <td><input type="text" class="calendardate" title="Click to select date" size="10" maxlength="10" name="date_until" id="date_until" value="<:v:date_to|dateformat?format=fulldate>" /></td>
    <td>&nbsp; &nbsp; keep blank to set December, 31st</td>
  </tr>
  <tr>
    <th>Explicit absence days</th>
    <td>
      <table>
        <:a:paidabsencetypes|looptemplate?name=employeeofficecalendar.paidabsence>
      </table>    
    </td>
    <td>&nbsp; &nbsp; keep blank to have standard value that comes with the calendar</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save" /></td>
  </tr>
</table>
</form>

<script>
$('#date_since').datepick({dateFormat: 'dd.mm.yyyy', firstDay: 1});
$('#date_until').datepick({dateFormat: 'dd.mm.yyyy', firstDay: 1});
</script>
