<h2>Upload file</h2>

<form action="" method="post" enctype="multipart/form-data">
<input type="hidden" name="f" value="<:v:_module_>/addattachment">
<input type="hidden" name="employee" value="<:v:lngId>">
<table class="form">
  <tr>
    <th>Attachment</th>
    <td><input type="file" name="attachment"></td>
  </tr>
  <tr>
    <th>Doc type</th>
    <td>
      <select name="doctype" />
        <option value=""></option>
        <:a:doctypeoptions|looptemplate?module=main&name=option>
      </select>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td>
      <input type="text" name="description" size="30" maxlength="50" />
    </td>
  </tr>
  <tr>
    <th>Valid from</th>
    <td>
      <input type="text" class="calendardate" title="Click to select date" id="valid_from" name="valid_from" size="10" maxlength="10" />
    </td>
  </tr>
  <tr>
    <th>Valid to</th>
    <td>
      <input type="text" class="calendardate" title="Click to select date" id="valid_to" name="valid_to" size="10" maxlength="10" />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Add attachment" /></td>
  </tr>
</table>
</form>

<script>
  $('#valid_from').datepick({dateFormat: 'dd.mm.yyyy', firstDay: 1});
  $('#valid_to').datepick({dateFormat: 'dd.mm.yyyy', firstDay: 1});
</script>