<div class="clearfix" style="width: 100%;">
  <div class="ticketcommentavatar">
    <img alt="avatar" width="50" height="50"  src="?f=main/avatar&employee=<:v:editor>" />
  </div>
  <div class="ticketcomment">
    <div style="background-color: #F6F6F6; padding: 5px;">
      By <a href="?p=<:v:_module_>/employee&id=<:v:editor>"><:v:EditorName></a> on <:v:DateUpdated|dateformat?format=shortdate>
    </div>
    <div style="background-color: #FFFFFF; padding: 5px;">
      <p><:v:comment|paragraphs></p>
    </div>
  </div>
</div>
