  <tr class="mod2_<:v:_mod2_>">
    <td><:v:name></td>
    <td><:v:code></td>
    <td><:v:type></td>
    <td><:v:seq_no></td>
    <td><:v:is_public|lookupdict?module=main&name=yesno></td>
    <td><:v:is_multiple|lookupdict?module=main&name=yesno></td>
    <td><:v:mapped_column></td>
    <td>
      [<a href="?p=<:v:_module_>/editcontacttype&id=<:v:id>">Edit</a>]
      [<a href="javascript:gc('Really delete contact type?', '?f=<:v:_module_>/deletecontacttype&id=<:v:id>');">Delete</a>]
    </td>
  </tr>
