<table width="100%">
  <tr>
    <th width="30%" align="right">Title</th>
    <td width="70%" align="left"><a href="?fwd=article&id=<:v:id>"><:v:Title></a></td>
  </tr>
  <tr>
    <th width="30%" align="right">Created by </th>
    <td width="70%" align="left"><:v:AuthorName> on <:v:DateCreated|dateformat?format=fulldate></td>
  </tr>
  <tr>
    <th width="30%" align="right">Last update by </th>
    <td width="70%" align="left"><:v:LastEditorName> on <:v:DateUpdated|dateformat?format=fulldate></td>
  </tr>
  <tr>
    <td colspan="2" align="left"><br /><br /><:v:Teaser></td>
  </tr>  
</table>

<p>
<a href="?fwd=article&id=<:v:id>">Read more...</a>
</p>