.IntranetArticle {
}

.IntranetArticleMoreAccess {
  margin-top: 5px;
  padding: 1px;
  padding-left: 20px;
  margin-bottom: 5px;
  background-color: #E0E0E0;
}

.IntranetArticleAuthor {
  margin-top: 5px;
  padding-left: 20px;
}

.IntranetArticleDate {
  margin-top: 5px;
  padding-left: 20px;
}

.IntranetArticleTeaser {
  margin-top: 15px; 
  margin-left: 5px;
  font-size: 120%;
  border-left: solid 2px gray;
  padding-left: 5px;
}

.IntranetArticleContents {
  margin-top: 15px;
}

.IntranetArticlePageEverything {
  margin-top: 15px;
}

.IntranetArticlePage {
  margin-top: 15px;
  border-top: dotted 1px gray;
//  white-space: pre-line;
}

.IntranetArticlePagerBar {
  margin-top: 15px;
}

.IntranetArticleRelated {
  margin-top: 15px;
  border-top: dotted 1px gray;
}

.IntranetArticleEmbedCode {
  margin-top: 15px;
  border-top: dotted 1px gray;
}

.IntranetArticleSubmitEmployeeForm {
  margin-top: 15px;
  border-top: solid 1px gray;
}

.IntranetArticleBlock {
  border: 1px solid #D4DCE8;
  width: 465px;
  height: 132px;
  float: left;
  margin: 15px;
}

.IntranetArticleBlockName {
  padding-left: 3px;
  border: none;
  border-bottom: 1px solid #D4DCE8;
  float:left;
  width: 316px;
  height: 20px;
  margin-bottom: 8px;
  padding: 5px;
}

.IntranetArticleBlockImage {
  float: right;
  width: 128px;
  height: 128px;
  padding: 2px;
}

.IntranetArticleBlockName a {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

.IntranetArticleBlockContent {
  float: left;
  width: 326px;
  height: 98px;
  padding-left: 1px;
}

.articleimage img {
  border: solid 1px darkgrey;
}