<p>
To send notification to readers of this article, please check the box and leave description on what's changed. 
</p>

<p class="red">No cyrillic letters please!</p>

<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/sendupdatenotifications">
<input type="hidden" name="id" value="<:v:id>">
<table class="form">
  <tr>
    <th>Notification</th>
    <td>
      <textarea name="notificationtext" rows="5" cols="60" /></textarea>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" value="Send Notification to Readers!">
    </td>
  </tr>
</table>
</form>

<:v:notificationhistory>