
<div style="width:976px; padding-bottom: 10px; padding-top: 3px; margin-top: 3px; border-top: dotted 1px black;">
  <div class="clearfix">
    <div style="width: 120px; font-weight: bold; float:left;"><:v:status|lookupdict?module=main&name=review.status></div>
    <div style="width: 30px; float:left;"><input type="checkbox" name="reviewers[]" value="<:v:id>" id="reviewer_<:v:id>"></div>
    <div style="width: 826px; float:left; font-weight: bold;"><label for="reviewer_<:v:id>"><:v:strFirstName> <:v:strLastName> (<:v:strNick>) <:v:DateLastBuzz|dateformat?format=minutes></label></div>
  </div>
  <div style="width: 826px; padding-left: 150px; padding-top: 5px;">
    <:v:comment>
  </div>
</div>