<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/addtarget" />
<input type="hidden" name="ticket" value="<:v:ticket>" />
<input type="hidden" name="target_type" value="meeting" />
<div id="newtickettarget">
  <table class="form">
    <tr>
      <th>Target type</th>
      <td><strong>Meeting</strong></td>
    </tr>
    <tr>
      <th>Target ID</th>
      <td>
        <select name="target_id">
          <option name=""></option>
        <:a:meetingoptions|looptemplate?module=main&name=option>
        <select>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Save" /></td>
    </tr>
  </table>
</div>
</form>  