<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/addtarget" />
<input type="hidden" name="ticket" value="<:v:ticket>" />
<input type="hidden" name="target_type" value="contract" />
<div id="newtickettarget">
  <table class="form">
    <tr>
      <th>Target type</th>
      <td><strong>Contract</strong></td>
    </tr>
    <tr>
      <th>Target ID</th>
      <td>
        <input type="text" title="Enter the contract number" name="target_id" />
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Save" /></td>
    </tr>
  </table>
</div>
</form>  