<Ticket>
  <id><:v:id></id>
  <EncodedTitle><:v:title|urlencode></EncodedTitle>
  <creator><:v:creator></creator>
  <CreatorName><:v:CreatorName></CreatorName>
  <reviewer><:v:reviewer></reviewer>
  <ReviewerName><:v:ReviewerName></ReviewerName>
  <handler><:v:handler></handler>
  <HandlerName><:v:HandlerName></HandlerName>
  <DateCreated><:v:DateCreated></DateCreated>
  <DateUpdated><:v:DateUpdated></DateUpdated>
  <status><:v:status></status>
  <priority><:v:priority></priority>
  <duedate><:v:duedate></duedate>  
  <project><:v:project></project>
  <EncodedProjectTitle><:v:ProjectTitle|urlencode></EncodedProjectTitle>
  <EncodedContents><:v:contents|urlencode></EncodedContents>  
</Ticket>
