  <tr class="mod2_<:v:_mod2_>">
    <td>
      <a 
        id="hcube_ticketlink_<:v:id>" 
        href="javascript: showAjaxPopup({url: '?i=<:v:_module_>/tooltip&id=<:v:id>', width:800, id:'hcube_ticketlink_<:v:id>']);" 
        title="Click to preview"
      ><img src="../images/icons/preview.png" border="0" height="16" width="16" /></a><:v:id>
    </td>
    <td><:v:status|lookupdict?module=tickets&name=status></td>
    <td><a href="?p=<:v:_module_>/viewticket&id=<:v:id>"><:v:title|untitled></a></td>
    <td><a href="?p=profiles/employee&id=<:v:creator>"><:v:CreatorName></a></td>
    <td><a href="?p=profiles/employee&id=<:v:handler>"><:v:HandlerName></a></td>
    <td><a href="?p=<:v:_module_>/project&id=<:v:project>"><:v:ProjectTitle></a></td>
  </tr>