<html>
<head>
  <link rel="stylesheet" href="<:conf:SERVERURL_EXTERNAL><:conf:BASEURL_SCRIPTS>/index.pl?css=main" type="text/css" media="screen" /> 
  <link rel="stylesheet" href="<:conf:SERVERURL_EXTERNAL><:conf:BASEURL_SCRIPTS>/index.pl?css=main.print" type="text/css" media="print" /> 
</head>
<body>

<p>
This is an automated message with meeting minutes.
Status of all the issues might have been changed since this message was sent to you.
We strongly recommend you to refer to  
<a href="<:conf:SERVERURL_EXTERNAL><:conf:BASEURL_SCRIPTS>/index.pl?p=tickets/viewmeeting&id=<:v:id>">meeting page</a>
online in order to get actual status of the issues in this meeting.
</p>

<p>
This is an automated mail message sent by robot. Therefore, do NOT reply to this mail!
</p>

<hr />

<:v:body>

<p style="color:green;">
Please, consider the environment before printing this email.
</p>

</body>
</html>