  <tr class="mod2_<:v:_mod2_>">
    <td><a href="?p=profiles/employee&id=<:v:creator>"><:v:CreatorName></a></td>
    <td><a href="?p=profiles/employee&id=<:v:moderator>"><:v:ModeratorName></a></td>
    <td><:v:title|untitled></td>
    <td><:v:tickets></td>
    <td><:v:minutes|explaintime></td>
    <td><:v:progress|numberformat> %</td>
    <td><:v:DateUpdated|dateformat?format=shortdate></td>
    <td>
      [<a href="?p=<:v:_module_>/project&id=<:v:id>">View</a>]
      <:_:deleteprojectlink|stopifempty:varname=can_delete|forwardtemplate?module=&name=projects.deletelink>
    </td>
  </tr>