  <div id="navigation-level1">
    <div class="clearfix" style="width: 100%;">
    
      <div class="navigation-level1-item">
        <a href="?p=main/dashboard">Dashboard</a>        
      </div>
      <div class="navigation-level1-item">
        <a href="?p=articles/home">Articles</a>
      </div>
      <div class="navigation-level1-selecteditem">
        <b>Tickets</b>
      </div>

    </div>
  </div>
  
  <div id="navigation-level2">
    <div class="clearfix" style="width: 100%;">
    
      <div style="float:left;" class="navigation-level2-item">
        <a href="?p=<:v:_module_>/mytickets">My tickets</a>
      </div>  
      <div style="float:left;" class="navigation-level2-item">
        <a href="?p=<:v:_module_>/myprojects">My projects</a>
      </div>  
      <div style="float:left;" class="navigation-level2-item">
        <a href="?p=<:v:_module_>/stats">Statistics</a>
      </div>  
  
      <div style="float:right;" class="navigation-level2-item">
        <a href="?p=<:v:_module_>/new">Create new ticket</a>
      </div>

    </div>
  </div>
