  <tr class="mod2_<:v:_mod2_>">
    <td><:v:id></td>
    <td><a href="?p=profiles/employee&id=<:v:creator>"><:v:CreatorName></a></td>
    <td><a href="?p=profiles/employee&id=<:v:handler>"><:v:HandlerName></a></td>
    <td><:v:status|lookupdict?module=tickets&name=status></td>
    <td><:v:priority|lookupdict?module=tickets&name=priority></td>
    <td>
      <a 
        id="project_ticketlink_<:v:id>" 
        href="javascript: showAjaxPopup({url: '?i=<:v:_module_>/tooltip&id=<:v:id>', width:800, id:'project_ticketlink_<:v:id>']);" 
        title="Click to preview"
      ><img src="../images/icons/preview.png" border="0" height="16" width="16" /></a> 
      <a href="?p=<:v:_module_>/viewticket&id=<:v:id>"><:v:title|untitled|shortener?words=5></a>
    </td>
    <td><:v:minutes|explaintime></td>
    <td><:v:LastUpdated|dateformat?format=shortdate></td>
    <td>
      [<a href="?p=<:v:_module_>/viewticket&id=<:v:id>">View</a>]
      <:_:deleteticketlink|stopifempty:varname=can_delete|forwardtemplate?module=&name=project.view.deletelink>
    </td>
  </tr>