<form action="">

<div style="border: solid 1px red; text-align: left; width: 100%" class="clearfix">
  <div style="width: 60px; border: solid 1px blue; float: left; text-align: right; margin-right: 5px;"><a href="#">Add</a></div>
  <div style="width: 300px; border: solid 1px blue; float: left; text-align: left;">
    <select name="parameter" onchange="alert(this.value);">
      <option value="" onclick="alert(this.value);"></option>
      <option value="text"">Text</option>
    </select>
  </div>
</div>

<div class="ticket_search_criteria clearfix" id="tsc_1" style="border: solid 1px red; width: 100%;">
  <div style="width: 60px; border: solid 1px blue; float: left; text-align: right; margin-right: 5px;"><a href="#">Delete</a></div>
  <div style="width: 200px; border: solid 1px blue; float: left; text-align: left;">
    blah
  </div>
</div>

<br />
Name: <input type="text">
<input type="button" onclick="this.submit();" value="Save Query and Execute it">

</form>


<div id="hiddenchoices" style="visilibity: hidden; width: 0px; heigh: 0px;">
  <div></div>
</div>