  <tr class="mod2_<:v:_mod2_>">
    <td><:v:id></td>
    <td>
      <a 
        id="actortickets_ticketlink_<:v:id>" 
        href="javascript: showAjaxPopup({url: '?i=<:v:_module_>/tooltip&id=<:v:id>', width:800, id:'actortickets_ticketlink_<:v:id>']);" 
        title="Click to preview"
      ><img src="../images/icons/preview.png" border="0" height="16" width="16" /></a> 
      <a href="?p=<:v:_module_>/viewticket&id=<:v:id>"><:v:title|untitled|shortener?words=5></a>
    </td>
    <td><:v:DateCreated|dateformat?format=fulldate></td>
    <td><:v:status|lookupdict?module=tickets&name=status></td>
    <td><:v:LastActivity|dateformat?format=fulldate></td>
    <td><:v:DatePlanned|dateformat?format=fulldate></td>
    <td><span id="ticketweight_<:v:id>"><:_:weight|forwardtemplate?module=&name=ticketweight></span></td>
  </tr>