  <tr class="mod2_<:v:_mod2_>">
    <td><:v:DateUpdated|dateformat?format=timeonly>&nbsp;</td>
    <td><a href="?p=<:v:_module_>/project&id=<:v:project>"><:v:ProjectTitle|shortener?words=5></a></td>
    <td><:v:id></td>
    <td>
      <a 
        id="usertime_dayreport_ticketlink_<:v:id>" 
        href="javascript: showAjaxPopup({url: '?i=<:v:_module_>/tooltip&id=<:v:id>', width:800, id:'usertime_dayreport_ticketlink_<:v:id>']);" 
        title="Click to preview"
      ><img src="../images/icons/preview.png" border="0" height="16" width="16" /></a> 
      <a href="?p=<:v:_module_>/viewticket&id=<:v:id>"><:v:title|untitled|shortener?words=5></a>
    </td>
    <td><:v:computed_hours> hours, <:v:computed_minutes> minutes</td>
  </tr>  
