<div class="clearfix" style="width: 100%;">
  <div class="ticketcommentavatar">
    <img alt="avatar" src="?f=main/avatar&employee=<:v:editor>" width="50" height="50" />
  </div>
  <div class="ticketcomment">
    <div style="background-color: #F6F6F6; padding: 5px;">
      By <a href="?p=profiles/employee&id=<:v:editor>"><:v:EditorName|anonymous></a> on <:v:DateUpdated|dateformat?format=shortdate>
    </div>
    <div style="background-color: #FFFFFF; padding: 5px;">
      <p><:v:comment|paragraphs></p>
    </div>
  </div>
</div>
