<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/savemeeting" />
<input type="hidden" name="id" value="<:v:id>" />
<table class="form">
  <tr>
    <th>Name</th>
    <td><input type="text" name="name" value="<:v:name>" /></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><input type="text" name="location" value="<:v:location>" /></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><input type="text" class="calendardate" title="Click to select date" id="meetingdate" name="meetingdate" size="10" maxlength="10" value="<:v:meetingdate|dateformat?format=fulldate>" /></td>
  </tr>
  <tr>
    <th>Comment</th>
    <td><textarea name="comment" cols="60" rows="5"><:v:comment></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save" /></td>
  </tr>
</table>
</form>