      <p>
        <script>
          var hoursleft = <:v:hoursleft>; var minutesleft = <:v:minutesleft>;
          var hours = 0; var mins = 0; var secs = 0; var working = 1;
        </script>
        <b>Report working time (optional)</b><br />
        <input type="text" size="2" maxlength="2" name="reported_hours" id="reported_hours" value="0" onkeypress="working = 0;" />hour(s), 
        <input type="text" size="2" maxlength="2" name="reported_minutes" id="reported_minutes" value="0" onkeypress="working = 0;" /> minute(s),
        <span id="reported_seconds">00</span> second(s)
        <br />
        <b>Set different reporting date (optional)</b><br />
        <input type="text" class="calendardate" title="Click to select date" size="10" maxlength="10" name="reporting_date" id="reporting_date" value="" />
        <br />
        <b>Estimated time left (optional)</b><br />
        <input type="text" size="2" maxlength="2" name="timeleft_hours" id="timeleft_hours" value="<:v:hoursleft>" />hour(s), 
        <input type="text" size="2" maxlength="2" name="timeleft_minutes" id="timeleft_minutes" value="<:v:minutesleft>" /> minute(s)
        <br />
        * manual editing of times will stop the timer!
        <script>
          window.setInterval(function() {
            if (working == 1) {
              secs += 1;
              if (secs == 60) { 
                secs = 0; mins += 1; minutesleft -= 1;
                if (mins == 60) { 
                  mins = 0; hours += 1; 
                }
                if (minutesleft == -1) {
                  minutesleft = hoursleft > 0 ? 59 : 0; 
                  hoursleft = hoursleft > 0 ? hoursleft-1 : 0;
                }
                document.getElementById('reported_minutes').value = mins;
                document.getElementById('reported_hours').value = hours;
                if (60 * hoursleft + minutesleft > 0) {
                  document.getElementById('timeleft_minutes').value = minutesleft;
                  document.getElementById('timeleft_hours').value = hoursleft;
                }               
              }
              $('#reported_seconds').html((secs < 10 ? '0': '') + secs);
            } 
          }, 1000);
          
        </script>
      </p>

      <script>
      $('#reporting_date').datepick({dateFormat: 'dd.mm.yyyy', firstDay: 1});
      </script>
