<BookingRequest>
  <ID><:v:id></ID>
  <HotelID><:v:hotel></HotelID>
  <HotelName><:v:hotel_name|xmlsafe></HotelName>
  <AptType><:v:type_name></AptType>
  <Arrival><:v:arrdate|dateformat?format=fulldate></Arrival>
  <Departure><:v:depdate|dateformat?format=fulldate></Departure>
  <FirstName1><:v:fname1></FirstName1>
  <LastName1><:v:lname1></LastName1>
  <Nationality><:v:nationality></Nationality>
  <Passport1><:v:passport1></Passport1>
  <DateBirth1><:v:dob1></DateBirth1>
  <MaritalStatus1><:v:ms1></MaritalStatus1>
  <Occupation1><:v:occupation1></Occupation1>
  <PhoneMobile><:v:mobilephone></PhoneMobile>
  <PhoneHome><:v:homephone></PhoneHome>
  <PhoneOffice><:v:workphone></PhoneOffice>
  <FirstName2><:v:fname2></FirstName2>
  <LastName2><:v:lname2></LastName2>
  <Passport2><:v:passport2></Passport2>
  <DateBirth2><:v:dob2></DateBirth2>
  <MaritalStatus2><:v:ms2></MaritalStatus2>
  <Occupation2><:v:occupation2></Occupation2>
  <Guests>
    <:v:morepeople>
  </Guests>
</BookingRequest>