  <Referral>
    <Referent>
      <ID><:v:referent></ID>
      <FirstName><:v:referent_first_name></FirstName>
      <LastName><:v:referent_last_name></LastName>
      <Email><:v:referent_email></Email>
    </Referent>
    <Referral>
      <ID><:v:referral></ID>
      <FirstName><:v:referral_first_name></FirstName>
      <LastName><:v:referral_last_name></LastName>
      <Email><:v:referral_email></Email>
    </Referral>
    <StatusCode><:v:status></StatusCode>
    <StatusName><:v:status|lookupdict?module=booking&name=en/referral.status></StatusName>
    <DateInvited><:v:DateInvited></DateInvited>
    <DateAccepted><:v:DateAccepted></DateAccepted>
    <DateConfirmed><:v:DateConfirmed></DateConfirmed>
    <MD5Hash><:v:md5hash></MD5Hash>
  </Referral>
