<MemberDetails>
  <ID><:v:client_id></ID>
  <MerlinID><:v:merlin_id></MerlinID>
  <FirstName><:v:first_name|xmlsafe></FirstName>
  <LastName><:v:last_name|xmlsafe></LastName>
  <Email><:v:email></Email>
  <MemberType>Dummy</MemberType>
  <AddressLine1><:v:address1|xmlsafe></AddressLine1> 
  <AddressLine2><:v:address2|xmlsafe></AddressLine2> 
  <AddressLine3><:v:address3|xmlsafe></AddressLine3>
  <City><:v:city></City>
  <Postcode><:v:postcode></Postcode>
  <CountryID><:v:country_id></CountryID>
  <CountryEnglishName><:v:CountryEnglishName|xmlsafe></CountryEnglishName>
  <CountryRussianName><:v:CountryRussianName|xmlsafe></CountryRussianName>
  <CountryChineseName><:v:CountryChineseName></CountryChineseName>
  <PhoneMobile><:v:phone_mobile></PhoneMobile>
  <PhoneHome><:v:phone_home></PhoneHome>
  <PhoneOffice><:v:phone_office></PhoneOffice>
  <LanguageName><:v:LanguageName></LanguageName>
  <LanguageGroupName><:v:LanguageGroupName></LanguageGroupName>
  <MaritalStatus><:v:MaritalStatus></MaritalStatus>
  <IncomeRange><:v:IncomeRange></IncomeRange>
  <DateBirth><:v:date_birth></DateBirth>
  <Passport><:v:passport1></Passport>
  <SpouseFirstName><:v:first_name2|xmlsafe></SpouseFirstName>
  <SpouseLastName><:v:last_name2|xmlsafe></SpouseLastName>
  <SpouseDateBirth><:v:date_birth2></SpouseDateBirth>
  <SpousePassport><:v:passport2></SpousePassport>
  <Contracts>
    <:a:contracts|looptemplate?name=API.MemberDetails.Contract>
  </Contracts>
  <Bookings>
    <:a:bookings|looptemplate?name=API.MemberDetails.Booking>
  </Bookings>
  <BookingRequests>
    <:a:bookingrequests|looptemplate?name=API.MemberDetails.BookingRequest>
  </BookingRequests>
</MemberDetails>