<Gift>
  <GiftNumber><:v:Gift_Number></GiftNumber>
  <GiftCode><:v:Gift_Code></GiftCode>
  <GiftType><:v:gift_type></GiftType>
  <Description><:v:Description></Description>
  <Commentary><:v:Commentary|urlencode></Commentary>
  <UseGpcDeduction><:v:use_gpc_deduction></UseGpcDeduction>
  <GpcDeduction><:v:Deduction></GpcDeduction>
  <OriginalDeduction><:v:OriginalDeduction></OriginalDeduction>
  <GiftDate><:v:Gift_date></GiftDate>
  <CancelationDate><:v:date_cxx></CancelationDate>
  <Expense>
    <ExpenseDate><:v:dateExpense></ExpenseDate>
    <Amount><:v:amount></Amount>
    <Currency><:v:currency></Currency>
    <EuroEquiv><:v:euro_equiv></EuroEquiv>
  </Expense>
</Gift>