<Contract>
  <ContractNumber><:v:Contract_Number></ContractNumber>
  <ContractDate><:v:Date_Contract></ContractDate>
  <CancelledDate><:v:Date_Cancelled></CancelledDate>
  <CompletedDate><:v:Date_completed></CompletedDate>
  <StatusCode><:v:status></StatusCode>
  <StatusName><:v:status_name|xmlsafe></StatusName>
  <CurrencyCode><:v:Currency_code></CurrencyCode>
  <OutstandingBalance><:v:outstanding_balance></OutstandingBalance>
  <ResortCode><:v:Resort_code></ResortCode>
  <ResortName><:v:Resort_Name></ResortName>
  <ContractType><:v:Type_of_Contract></ContractType>
  <ProductType><:v:ProductType></ProductType>
  <NumberOfWeeks><:v:Number_of_weeks></NumberOfWeeks>
  <AptType><:v:type_name></AptType>
  <AptNo><:v:apt_no></AptNo>
  <FirstYear><:v:First_Year></FirstYear>
  <ContractResortNumber><:v:Contract_resort_number></ContractResortNumber>
  <BookingID><:v:book_id></BookingID>
  <PeriodCode><:v:Period_Code></PeriodCode>
  <PeriodType><:v:period_type></PeriodType>
  <MemberStatus><:v:member_status></MemberStatus>
  <UpgradedFrom><:v:UPG_FROM></UpgradedFrom>
  <UpgradedTo><:v:UPG_TO></UpgradedTo>
  <MerlinID><:v:merlin_id></MerlinID>
</Contract>