<Booking>
  <RefNo><:v:ref_no></RefNo>
  <Status><:v:status_name></Status>
  <DateFrom><:v:date_from></DateFrom>
  <DateTo><:v:date_to></DateTo>
  <HotelName><:v:hotel_name|xmlsafe></HotelName>
  <ArrivalTransfer><:v:arrival_transfer></ArrivalTransfer>
  <ArrivalFlight><:v:arrival_flight|urlencode></ArrivalFlight>
  <ArrivalTime><:v:arrival_time></ArrivalTime>
  <DepartureTransfer><:v:departure_transfer></DepartureTransfer>
  <DepartureFlight><:v:departure_flight|urlencode></DepartureFlight>
  <DepartureTime><:v:departure_time></DepartureTime>
  <Cancel><:v:cancel></Cancel>
  <CancelReason><:v:cancel_reason|urlencode></CancelReason>
  <CancelDate><:v:date_cancelled></CancelDate>
  <MerlinID><:v:merlin_id></MerlinID>
</Booking>