<Obligation>
  <ID><:v:id></ID>
  <DateFrom><:v:date_from></DateFrom>
  <DateTo><:v:date_to></DateTo>
  <Code><:v:code></Code>
  <Qty><:v:qty></Qty>
  <QtyUsed><:v:qty_used></QtyUsed>
  <IsBreakable><:v:is_breakable|lookupdict?module=main&name=yesno></IsBreakable>
  <IsPrioritized><:v:is_prioritized|lookupdict?module=main&name=yesno></IsPrioritized>
  <IsPeriodical><:v:is_periodical|lookupdict?module=main&name=yesno></IsPeriodical>
  <RequiresMaintenanceFees><:v:requires_maintfees|lookupdict?module=main&name=yesno></RequiresMaintenanceFees>
  <HighSeason><:v:season></HighSeason>
  <AptType><:v:apt_type_name></AptType>
  <ForYear><:v:for_year></ForYear>
  <Active><:v:active|lookupdict?module=main&name=yesno></Active>
</Obligation>