<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/save" />
<input type="hidden" name="id" value="<:v:id>" />
<table class="form">
  <tr>
    <th>Embed-code:</th>
    <td><input type="text" value="<:v:id|wrap:tag=poll>" /></td>
  </tr>
  <tr>
    <th>Created</th>
    <td>by <:v:CreatorName> on <:v:DateCreated|dateformat?format=fulldate></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><input type="text" name="title" value="<:v:title>" /></td>
  </tr>
  <tr>
    <th>Comment</th>
    <td><textarea name="comment" cols="60" rows="3"><:v:comment></textarea></td>
  </tr>
  <:_:validfrom|forwardtemplate?module=&name=edit.data.validfrom>
  <:_:validto|forwardtemplate?module=&name=edit.data.validto>
  <tr>
    <th>Is template?</th>
    <td><select name="is_template"><:a:templateoptions|looptemplate?module=main&name=option></select></td>
  </tr>
  <tr>
    <th>Is hidden?</th>
    <td><select name="is_hidden"><:a:hiddenoptions|looptemplate?module=main&name=option></select></td>
  </tr>
  <tr>
    <th>Editable results?</th>
    <td><select name="can_edit"><:a:editableoptions|looptemplate?module=main&name=option></select></td>
  </tr>
  <tr>
    <th>LM review?</th>
    <td><select name="lm_review"><:a:lmreviewoptions|looptemplate?module=main&name=option></select></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save" /></td>
  </tr>
</table>
</form>

<script>
  $('#valid_from').datepick({dateFormat: 'dd.mm.yyyy', firstDay: 1});
  $('#valid_to').datepick({dateFormat: 'dd.mm.yyyy', firstDay: 1});
</script>