<Expense>
  <ID><:v:lngId></ID>
  <CategoryName><:v:CategoryName|xmlsafe></CategoryName>
  <ContractNumber><:v:contract_number></ContractNumber>
  <Amount><:v:amount></Amount>
  <Currency><:v:currency></Currency>
  <ExpenseDate><:v:dateExpense|dateformat?format=fulldate></ExpenseDate>
  <DestinationOfficeName><:v:DestinationOfficeName|xmlsafe></DestinationOfficeName>
  <SalesOfficeName><:v:SalesOfficeName|xmlsafe></SalesOfficeName>
  <Booking><:v:booking|xmlsafe></Booking>
  <FirstName><:v:first_name|xmlsafe></FirstName>
  <LastName><:v:last_name|xmlsafe></LastName>
  <Comment><:v:comment|xmlsafe></Comment>
</Expense>