<GeneratorInfo>
  <IM_id><:v:IM_id></IM_id>
  <abb><:v:abb></abb>
  <account_id><:v:account_id></account_id>
  <address><:v:address|xmlsafe></address>
  <booking_category_id><:v:booking_category_id></booking_category_id>
  <booking_contact><:v:booking_contact></booking_contact>
  <booking_cross><:v:booking_cross></booking_cross>
  <changed_by><:v:changed_by></changed_by>
  <collection_own_clients><:v:collection_own_clients></collection_own_clients>
  <collection_percent><:v:collection_percent></collection_percent>
  <comment><:v:comment|xmlsafe></comment>
  <contact_person><:v:contact_person|xmlsafe></contact_person>
  <date_entered><:v:date_entered|dateformat?format=fulldate></date_entered>
  <datelastchange><:v:datelastchange|dateformat?format=fulldate></datelastchange>
  <director><:v:director|xmlsafe></director>
  <email><:v:email|xmlsafe></email>
  <email_director><:v:email_director|xmlsafe></email_director>
  <email_followup><:v:email_followup|xmlsafe></email_followup>
  <email_owner><:v:email_owner|xmlsafe></email_owner>
  <entered_by><:v:entered_by></entered_by>
  <fax><:v:fax></fax>
  <gen3percent><:v:gen3percent></gen3percent>
  <generator_id><:v:generator_id></generator_id>
  <generator_name><:v:generator_name|xmlsafe></generator_name>
  <hide><:v:hide></hide>
  <import_tmp_receipts><:v:import_tmp_receipts></import_tmp_receipts>
  <merlin_AgentId><:v:merlin_AgentId></merlin_AgentId>
  <merlin_emailId><:v:merlin_emailId></merlin_emailId>
  <merlin_exportable><:v:merlin_exportable></merlin_exportable>
  <merlin_id><:v:merlin_id></merlin_id>
  <no_calculate><:v:no_calculate></no_calculate>
  <offsite_office_id><:v:offsite_office_id></offsite_office_id>
  <owner><:v:owner></owner>
  <payment><:v:payment></payment>
  <percent_info><:v:percent_info|xmlsafe></percent_info>
  <phone><:v:phone|xmlsafe></phone>
  <registered_address><:v:registered_address|xmlsafe></registered_address>
  <reservation_remarks><:v:reservation_remarks|xmlsafe></reservation_remarks>
  <russian><:v:russian></russian>
  <sales_id><:v:sales_id></sales_id>
  <second_name><:v:second_name></second_name>
  <send_sales_report><:v:send_sales_report></send_sales_report>
  <show_fu_comments><:v:show_fu_comments></show_fu_comments>
  <special_comments><:v:special_comments|xmlsafe></special_comments>
  <use_gen_booking_contact><:v:use_gen_booking_contact></use_gen_booking_contact>
</GeneratorInfo>
