  <Contract>
    <GeneratorID><:v:generator_id|xmlsafe></GeneratorID>
    <GeneratorName><:v:generator_name|xmlsafe></GeneratorName>
    <OfficeName><:v:office_name|xmlsafe></OfficeName>
    <FirstName><:v:first_name|xmlsafe></FirstName>
    <LastName><:v:last_name|xmlsafe></LastName>
    <DateFrom><:v:date_from|dateformat?format=fulldate></DateFrom>
    <DateTo><:v:date_to|dateformat?format=fulldate></DateTo>
    <ContractNumber><:v:contract_number></ContractNumber>
    <ContractType><:v:type_of_contract></ContractType>
    <ContractDate><:v:date_contract|dateformat?format=fulldate></ContractDate>
    <PriceTotal><:v:price_total|numberformat></PriceTotal>
    <Deposit><:v:deposit|numberformat></Deposit>
    <FUMoney><:v:fu_money|numberformat></FUMoney>
    <Paid><:v:paid|numberformat></Paid>
    <Status><:v:status></Status>
    <StatusName><:v:status_name|lc|xmlsafe></StatusName>
    <AfterSalesComment><:v:after_sales_comment|xmlsafe></AfterSalesComment>
  </Contract>
