        <GiftRow>
          <amount><:v:vamount|numberformat></amount>
          <commentary><:v:commentary|xmlsafe></commentary>
          <currency><:v:currency></currency>
          <dateExpense><:v:dateExpense|dateformat?format=fulldate></dateExpense>
          <description><:v:description|xmlsafe></description>
          <euro_equiv><:v:euro_equiv|numberformat></euro_equiv>
          <gift><:v:gift|numberformat></gift>
          <gift_quantity><:v:gift_quantity></gift_quantity>
        </GiftRow>
