<p><:l:confirmation></p>
<p><:l:somedata></p>
<table>
  <tr>
    <th><:l:hotelname></th>
    <td><:v:hotel_name></td>
  </tr>
  <tr>
    <th><:l:clientname></th>
    <td><:v:fname1> <:v:lname1></td>
  </tr>
  <tr>
    <th><:l:dates></th>
    <td><:v:arrdate|dateformat?format=fulldate> - <:v:depdate|dateformat?format=fulldate></td>
  </tr>
</table>
<p><a href="<:conf:CLUBABSOLUTERU_URL>?p=main/bookreq&id=<:v:bookreq>"><:l:clicktosee></a></p> 
<p><a href="<:conf:CLUBABSOLUTERU_URL>?p=main/listrequests"><:l:listrequests></a></p>