  <tr class="section">
    <td colspan="2"><:l:additionalguest></td>
  </tr>
  <tr>
    <th><:l:fname></th>
    <td><:v:fname|noemptyhash|urldecode></td>
  </tr>
  <tr>
    <th><:l:lname></th>
    <td><:v:lname|noemptyhash|urldecode></td>
  </tr>
  <tr>
    <th><:l:maritalstatus></th>
    <td><:v:rel|noemptyhash|lookupdict?module=&name=relationship></td>
  </tr>
  <tr>
    <th><:l:dob></th>
    <td><:v:dob|noemptyhash></td>
  </tr>
  <tr>
    <th><:l:pass></th>
    <td><:v:passport|noemptyhash|></td>
  </tr>
