<h1><:l:pagetitle></h1>

<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/checklogin" />
<input type="hidden" name="nextUrl" value="<:v:nextUrl>" />
<table class="form">
  <tr>
    <th><:l:username></th>
    <td><input type="text" size="20" maxlength="50" name="username" /></td>
  </tr>
  <tr>
    <th><:l:password></th>
    <td><input type="password" size="20" maxlength="50" name="password"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="<:l:login>"></td>
  </tr>
</table>
</form>