  <tr class="mod2_<:v:_mod2_>">
    <td><img src="../images/icons/sex.<:v:lngSex|lookupdict?module=main&name=gender>.png" title="<:v:lngSex|lookupdict?module=main&name=gender>"></td>
    <td><a href="?p=<:v:_module_>/employee&id=<:v:ID>"><:v:strNick></a></td>
    <td><:v:strFirstName></td>
    <td><:v:strLastName></td>
    <td><:v:strLocalWorkPhone></td>
    <td><a href="mailto:<:v:strLocalOfficeEmail>"><:v:strLocalOfficeEmail></a></td>
    <td><a href="ymsgr:sendIM?<:v:yahoo_id>"><:v:yahoo_id></a></td>
  </tr>