  <tr class="mod2_<:v:_mod2_>">
    <td><a href="?p=contracts/view&id=<:v:Contract_Number>"><:v:Contract_Number></a></td>
    <td><:v:Date_Contract|dateformat?format=fulldate></td>
    <td><:v:Type_of_Contract></td>
    <td><:v:Number_of_weeks> weeks in <:v:type_name> on <:v:Resort_code></td>
    <td><:v:First_Year></td>
    <td><:v:status_name></td>
    <td><:v:Week_Number></td>
    <td><:v:Date_cert_issued|dateformat?format=fulldate></td>
    <td><:v:Currency_code> <:v:outstanding_balance></td>
  </tr>