<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/savelogin" />
<input type="hidden" name="id" value="<:v:client_id>" />
<table class="form">
  <tr>
    <th>Web login</th>
    <td><input type="text" name="username" value="<:v:username>" size="50" maxlength="128" /></td>
  </tr>
  <tr>
    <th>Web password</th>
    <td><input type="text" name="password" value="<:v:password>" size="20" maxlength="32" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save changes" /></td>
  </tr>
</table>
</form>