  <tr class="mod2_<:v:_mod2_>">
    <td><:v:book_id></td>
    <td><a href="?p=bookings/view&id=<:v:book_id>" target="_blank"><:v:ref_no></a></td>
    <td><:v:status_name></td>
    <td><a href="?p=generators/view&id=<:v:generator_id>"><:v:generator_name></a></td>
    <td><:v:sender_id></td>
    <td><:v:date_from|dateformat?format=fulldate></td>
    <td><:v:date_to|dateformat?format=fulldate></td>
    <td><:v:adults_qty>/<:v:children_qty></td>
    <td><:v:datelastchange|dateformat?format=fulldate></td>
  </tr>