  <tr class="mod2_<:v:_mod2_>">
    <td>
      <input type="checkbox" name="ids" value="<:v:id>" /> 
      <a href="javascript:$('#editprice').load('?i=<:v:_module_>/editprice&id=<:v:id>'); $('#edit_price_amount').focus();">Edit</a>
    </td>
    <td><:v:block_type></td>
    <td><:v:local_apt_name></td>
    <td><:v:date_start|dateformat?format=fulldate></td>
    <td><:v:date_end|dateformat?format=fulldate></td>
    <td class="a-r"><:v:price></td>
    <td><:v:currency></td>
    <td class="a-r"><:v:owner_price></td>
    <td><:v:currency></td>
    <td class="a-r"><:v:real_price></td>
    <td><:v:real_currency></td>
    <td><:v:office_name></td>
    <td><:v:extra_adult_price></td>
    <td><:v:extra_child_price></td>
  </tr>
