  <tr class="mod2_<:v:_mod2_>">
    <td><:v:local_apt_name></td>
    <td><:v:type_name></td>
    <td><:v:in_use|lookupdict?module=main&name=yesno></td>
    <td><:v:max_adults></td>
    <td><:v:max_children></td>
    <td>
      <a href="?p=<:v:_module_>/editlocaltype&id=<:v:id>"><img src="../images/icons/pen.png" title="Edit" /></a>
      <a href="javascript:gc('Really delete this local type?', '?f=<:v:_module_>/deletelocaltype&id=<:v:id>');"><img src="../images/icons/delete.png" title="Delete" /></a>
    </td>
  </tr>