<p>
On this page, you can edit the list of local apartment types, unique for this hotel.
Make sure that each of these types is mapped to a globally used apartment type like T0/T1/etc.
</p>

<table class="list" width="100%">
  <tr>
    <th>Local Type</th>
    <th>Global Type</th>
    <th>Used?</th>
    <th>Max adults</th>
    <th>Max children</th>
    <th>&nbsp;</th>
  </tr>
<:a:localtypes|looptemplate?name=edithotel.localtypes.listitem>
</table>

<p><a href="?p=<:v:_module_>/editlocaltype&hotel=<:v:hotel_id>">Add local type</a></p>