<table class="form">
  <tr>
    <th>Total real price:</th>
    <td class="a-l">EUR <:v:price_amount_eur|numberformat:round=2>;</td>
  </tr>
  </tr>
    <th>Total Earned:</th>
    <td class="a-l">EUR <:v:earned_amount_eur|numberformat:round=2>;</td>
  </tr>
  </tr>
    <th>Total balance:</th>
    <td class="a-l">EUR <:v:total_balance|numberformat:round=2>;</td>
  </tr>
  </tr>
    <th>Current occupancy:</th>
    <td class="a-l"><:v:occupied_nights> / <:v:total_nights> (<:v:occupancy_percent|numberformat:round=2>%);</td>
  </tr>
  </tr>
    <th>Profitability:</th>
    <td class="a-l"><:v:profitability_percent|numberformat:round=2>%;</td>
  <tr>
</table>