  <tr class="mod2_<:v:_mod2_>">
    <td><:v:book_id></td>
    <td><:v:DateStart|dateformat?format=fulldate></td>
    <td><:v:DateEnd|dateformat?format=fulldate></td>
    <td class="a-r"><:v:spent_amount|numberformat:round=2></td>
    <td><:v:spent_curr></td>
    <td class="a-r"><:v:spent_amount_eur|numberformat:round=2></td>
    <td>EUR</td>
    <td class="a-r"><:v:earned_amount|numberformat:round=2></td>
    <td><:v:earned_curr></td>
    <td class="a-r"><:v:earned_amount_eur|numberformat:round=2></td>
    <td>EUR</td>
    <td class="a-r"><:v:balance|numberformat:round=2></td>
    <td>EUR</td>
  </tr>
