<h1><:v:pagetitle></h1>

<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/save">
<table class="form">
  <tr>
    <th>Product Name</th>
    <td><input type="text" name="product_name" value="<:v:product_name>" /></td>
  </tr>
  <tr>
    <th>Type of Contract</th>
    <td><input type="text" name="type_of_contract" value="<:v:type_of_contract>" /></td>
  </tr>
  <tr>
    <th>Resort Code</th>
    <td><input type="text" name="resort_code" value="<:v:resort_code>" /></td>
  </tr>
  <tr>
    <th>Duration (weeks)</th>
    <td><input type="text" name="duration_years" value="<:v:duration_years>" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save" /></td>
  </tr>
</table>