<h1><:v:pagetitle></h1>

<table width="100%">
  <tr valign="top">
    <td align="left">
      <h2>Specify fields</h2>
      <:v:form>
      <:v:table>
    </td>
    <td align="right">
      <h2>Existing mappings</h2>
      <:v:shortcutstable>
    </td>
  </tr>
</table>

<div id="mapping_shortcuts" style="display:none;">
<p>
You can use these shortcuts to fill the form above:
[<a href="?p=<:v:_module_>/mapping&table_name=country&id_field_name=country_id&value_field_name=country_name">Country</a>] &nbsp;
[<a href="?p=<:v:_module_>/mapping&table_name=apt_types&id_field_name=apt_type_number&value_field_name=appartment_type">Apartment type</a>] &nbsp;
</p>
</div>

