<table class="form" width="100%">
  <tr>
    <th>Contract #</th>
    <td><:v:Contract_Number></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><:v:Date_Contract|dateformat?format=fulldate></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><:v:Type_of_Contract></td>
  </tr>
  <tr>
    <th>Details</th>
    <td><:v:Number_of_weeks> weeks in <:v:type_name> on <:v:Resort_code></td>
  </tr>
  <tr>
    <th>FYO</th>
    <td><:v:First_Year></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><:v:status_name></td>
  </tr>
  <tr>
    <th>Week</th>
    <td><:v:Week_Number></td>
  </tr>
  <tr>
    <th>Cert. issued</th>
    <td><:v:Date_cert_issued|dateformat?format=fulldate></td>
  </tr>
  <tr>
    <th>Balance</th>
    <td><:v:Currency_code> <:v:outstanding_balance></td>
  </tr>
</table>