  <tr class="mod2_<:v:_mod2_>">
    <td><:v:SafeStatus|lookupdict?module=&name=bookreq.status></td>
    <td><:v:lang_code></td>
    <td><:v:generator_name|shortener?words=2></td>
    <td><a href="mailto:<:v:sender_email>"><img src="../images/icons/mail.png" border="0" width="16" height="16" title="Click to send e-mail back to <:v:sender_email>"></a> <:v:sender_name></td>
    <td><:v:DateCreated|dateformat?format=shortdate></td>
    <td><:v:hotel_name></td>
    <td><:v:fname1> <:v:lname1></td>
    <td><:v:arrdate|dateformat?format=shortdate></td>
    <td><:v:depdate|dateformat?format=shortdate></td>
    <td><a href="?p=<:v:_module_>/view&id=<:v:id>">View</a></td>
  </tr>
