  <tr>
    <td colspan="2" class="a-c b"><h2>Additional guest</h2></td>
  </tr>
  <tr>
    <th>First name <:v:_i_></th>
    <td><:v:fname|urldecode></td>
  </tr>
  <tr>
    <th>Last name <:v:_i_></th>
    <td><:v:lname|urldecode></td>
  </tr>
  <tr>
    <th>Relationship <:v:_i_></th>
    <td><:v:rel|lookupdict?module=&name=relationship></td>
  </tr>
  <tr>
    <th>Date of birth <:v:_i_></th>
    <td><:v:dob></td>
  </tr>
  <tr>
    <th>Passport number <:v:_i_></th>
    <td><:v:passport></td>
  </tr>
