<table class="form">
  <tr>
    <th>Name</th>
    <td><:v:name></td>
  </tr>
  <tr>
    <th>Code</th>
    <td><:v:code></td>
  </tr>
  <tr>
    <th>Office name</th>
    <td><:v:office_name></td>
  </tr>
  <tr>
    <th>Provider</th>
    <td><:v:provider_name> (<:v:location_name>)</td>
  </tr>
  <tr>
    <th>Quantity</th>
    <td><:v:qty></td>
  </tr>
  <tr>
    <th>Amount</th>
    <td><:v:currency> <:v:amount|numberformat:round=2></td>
  </tr>
  <tr>
    <th>Real price</th>
    <td><:v:currency> <:v:realprice|numberformat:round=2></td>
  </tr>
  <tr>
    <th>Used quantity (percentage)</th>
    <td><:v:used|numberformat> (<:v:usage_ratio|numberformat>%)</td>
  </tr>
  <tr>
    <th>Description</th>
    <td><:v:description|paragraphs></td>
  </tr>
</table>