  <tr class="mod2_<:v:_mod2_>">
    <td><:v:name></td>
    <td><:v:location_name></td>
    <td><:v:city></td>
    <td><:v:address></td>
    <td><:v:email></td>
    <td><:v:contact_name> &nbsp; <:v:contact_phone></td>
    <td>
      <a href="?p=<:v:_module_>/providerdetails&id=<:v:id>" title="View voucher provider details"><img src="../images/icons/zoom.png" /></a> 
      &nbsp;
      <:_:deletelink|stopifnotempty:varname=used|forwardtemplate?module=&name=home.providers.listitem.delete>
    </td>
  </tr>