<table class="list" width="100%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Vouchers</th>
    <th>Incoming, in delivery</th>
    <th>Sent to owner, in delivery</th>
    <th>&nbsp;</th>
  </tr>
<:a:stock|looptemplate?name=home.stock.listitem>
</table>

<h2>Add new stock</h2>

<p>Please use English letters only when giving a name to the stock!</p>

<form action="" method="post">
<input type="hidden" name="f" value="<:v:_module_>/savestock">
<table class="form">
  <tr>
    <th class="required">Name</th>
    <td><input type="text" name="name" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save" /></td>
  </tr>
</table>
</form>

<script>
  /*
    TODO: This code is converted from the old one, but it's unclear
    where this #resp is used, if it is used.
  */
  suggestPerson('U', 'resp', 'responsible');
</script>
