<form method="post" action="">
<input type="hidden" name="f" value="<:v:_module_>/saveserie" />
<input type="hidden" name="id" value="<:v:id>" />
<table class="form">
  <tr>
    <th>Name</th>
    <td><input type="text" name="name" value="<:v:name>" /></td>
  </tr>
  <tr>
    <th>Code</th>
    <td><input type="text" name="code" value="<:v:code>" /></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><textarea name="description" rows="4" cols="60"><:v:description></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save" /></td>
  </tr>
</table>
</form>