<h1><:v:pagetitle></h1>

<table class="list" width="100%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Club</th>
    <th>Country</th>
    <th>&nbsp;</th>
  </tr>
  <:a:resorts|looptemplate?name=extresorts.listitem>
</table>

<p>
<a class="extresorttooltip" href="#" rel="?i=<:v:_module_>/extresorttooltip" title="Adding another external resort"><img src="../images/icons/preview.png" border="0" height="16" width="16" /> Add another external resort</a>
</p>

<script>
$('a.extresorttooltip').cluetip({
  width: 720,
  sticky: true,
  closePosition: 'title',
  mouseOutClose: false
});
</script>