  <tr class="mod2_<:v:_mod2_>">
    <td><:v:id></td>
    <td><:v:name></td>
    <td><:v:resort_name></td>
    <td>
      <a class="extseasontooltip" href="#" rel="?i=<:v:_module_>/extseasontooltip&id=<:v:id>" title="Editing external resort season <:v:name|jssafe>"><img src="../images/icons/preview.png" /></a>
      &nbsp;
      <a href="javascript:gc('Really delete external resort season <:v:name|jssafe>?', '?f=<:v:_module_>/deleteextseason&id=<:v:id>');"><img src="../images/icons/delete.png" title="Click to delete external resort" /></a>
    </td>
  </tr>