    .selectableday {
       
    }
    
    .preselectedday {
      border: solid 2px blue; 
    }
    
    .day {
      font-size: 20px;
    }
    
    .daydata, .daydata_OfficeDescription {
      padding-top: 5px;
      padding-botton: 5px;
      height: 45px;
      vertical-align: bottom;
    }
    
    .monthview_checkbox_container {
      display: none;
    }
    
    .monthview_day_offevent {
      font-weight: bold;
    }
    
    .monthview_day_details {
      color: black;
    }

    .daytype-legend {
      float: right;
    }
    
    .OfficeDayType_PH, .OfficeDayType_BH, .OfficeDayType_OC, .OfficeDayType_WE {
      color: red;
    }
    
    .daytype-BT {
      background-image: url('../images/icons/ball.green.png');
      background-repeat: no-repeat;
      color: green;
      font-weight: bolder;
      text-align: left;
    }

    .daytype-S {
      background-image: url('../images/icons/ball.gray.png');
      background-repeat: no-repeat;
      color: gray;
      font-weight: bolder;
      text-align: left;
    }

    .daytype-V {
      background-image: url('../images/icons/ball.red.png');
      background-repeat: no-repeat;
      color: red;
      font-weight: bolder;
      text-align: left;
    }
    
    .daytype-OW {
      background-image: url('../images/icons/ball.orange.png');
      background-repeat: no-repeat;
      color: orange;
      font-weight: bolder;
      text-align: left;
    }    
    
    .halfday {
      background-position: -8px;
      padding-left: 10px;
    }

    .fullday {
      padding-left: 18px;
    }
    
    .noballday {
      background-position: -16px;
    }

    #monthview_editbutton_container {
      float:left;
      display: block;
    }
    
    #monthview_savebutton_container {
      float:left; 
      display: none;
    }
    
    #monthview_editform {
      float:right; 
      display: none;
    }
    
    #employeecalendar_editmonth_daytypes {
      margin-left: 20px; 
      margin-right: 20px;      
    }
    
    #employeecalendar_editmonth_qty {
      margin-left: 20px; 
      margin-right: 20px;            
    }

    .yearview_event {
      width: 980px;
    }
    
    .yearview_event_edit {
      float:left;
      width: 46px;
      padding-left: 2px;
      padding-right: 12px;
      text-align: right;
    }
    
    .yearview_event_weekday {
      float:left;
      width: 100px;
    }

    .yearview_event_date {
      float:left;
      width: 90px;
    }

    .yearview_event_description {
      float:left;
      width: 672px;
    }

    .yearview_event_employeeabsence_requestabsence {
      float:left;
      width: 64px;
      padding-left: 2px;
      padding-right: 8px;
    }

    .yearview_event_employeeabsence_authorizeabsence {
      float:left;
      width: 104px;
      padding-left: 2px;
      padding-right: 12px;
    }

    .yearview_event_employeeabsence_qty {
      width: 100px;
    }
    
    .yearview_event_employeeabsence_day_type {
      width: 100px;
    }
    
    .yearview_event_employeeabsence_edit {
      float:left;
      width: 66px;
      padding-left: 2px;
      padding-right: 12px;
      text-align: right;
    }

    .yearview_event_employeeabsence_view {
      float:left;
      width: 56px;
      padding-left: 2px;
      padding-right: 12px;
    }
    
@media print {
  #monthview_canvas {
    display:none;
  }
}    