      <tr>
        <th>Day type:</th>
        <td>
          <div style="margin-left: 20px; margin-right: 20px;" id="monthview_addcomment_daytype">
            <select name="monthview_moredata_day_type" id="monthview_moredata_day_type">
              <:a:day_type_options|looptemplate?module=main&name=option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th>Mandatory Vacation:</th>
        <td>
          <div style="margin-left: 20px; margin-right: 20px;" id="monthview_addcomment_mandatoryvacation">
            <select name="monthview_moredata_mandatory_vacation" id="monthview_moredata_mandatory_vacation">
              <:a:mandatory_vacation_options|looptemplate?module=main&name=option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th>Transferable:</th>
        <td>
          <div style="margin-left: 20px; margin-right: 20px;" id="monthview_addcomment_transferable">
            <select name="monthview_moredata_transferable" id="monthview_moredata_transferable">
              <:a:transferable_options|looptemplate?module=main&name=option>
            </select>
          </div>
        </td>
      </tr>
