<div id="monthview_1"><div class="working">Please wait while we fetch data for January month view</div></div>
<div id="monthview_2" class="pagebreakbefore"><div class="working">Please wait while we fetch data for February month view</div></div>
<div id="monthview_3" class="pagebreakbefore"><div class="working">Please wait while we fetch data for March month view</div></div>
<div id="monthview_4" class="pagebreakbefore"><div class="working">Please wait while we fetch data for April view</div></div>
<div id="monthview_5" class="pagebreakbefore"><div class="working">Please wait while we fetch data for May view</div></div>
<div id="monthview_6" class="pagebreakbefore"><div class="working">Please wait while we fetch data for June view</div></div>
<div id="monthview_7" class="pagebreakbefore"><div class="working">Please wait while we fetch data for July view</div></div>
<div id="monthview_8" class="pagebreakbefore"><div class="working">Please wait while we fetch data for August view</div></div>
<div id="monthview_9" class="pagebreakbefore"><div class="working">Please wait while we fetch data for September view</div></div>
<div id="monthview_10" class="pagebreakbefore"><div class="working">Please wait while we fetch data for October view</div></div>
<div id="monthview_11" class="pagebreakbefore"><div class="working">Please wait while we fetch data for November view</div></div>
<div id="monthview_12" class="pagebreakbefore"><div class="working">Please wait while we fetch data for December view</div></div>

<script>
  $('#monthview_1').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=1&day=<:v:day>');
  $('#monthview_2').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=2&day=<:v:day>');
  $('#monthview_3').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=3&day=<:v:day>');
  $('#monthview_4').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=4&day=<:v:day>');
  $('#monthview_5').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=5&day=<:v:day>');
  $('#monthview_6').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=6&day=<:v:day>');
  $('#monthview_7').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=7&day=<:v:day>');
  $('#monthview_8').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=8&day=<:v:day>');
  $('#monthview_9').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=9&day=<:v:day>');
  $('#monthview_10').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=10&day=<:v:day>');
  $('#monthview_11').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=11&day=<:v:day>');
  $('#monthview_12').load('?i=<:v:_module_>/viewmonth&id=<:v:id>&<:_:nocache|nocachetoken>&year=<:v:year>&month=12&day=<:v:day>');
</script>
