  <div class="yearview_event mod2_<:v:_mod2_> clearfix" id="event_<:v:id>">
    <div class="yearview_event_employeeabsence_authorizeabsence a-c">
      <:_:authorizable|stopifempty:varname=authorization_ticket|stopifnotempty:varname=authorized_by|forwardtemplate?module=&name=year.listitem.authorizelinks>
      <:_:locked|stopifempty:varname=authorized_by|forwardtemplate?module=&name=year.listitem.locked>
      <:_:selectable|stopifnotempty:varname=authorization_ticket|forwardtemplate?module=main&name=checkbox.id>
      <:_:editable|forwardtemplate?module=&name=year.listitem.editlinks>
      <:_:requested|stopifempty:varname=authorization_ticket|stopifnotempty:varname=authorized_by|forwardtemplate?module=&name=year.listitem.question>
    </div>
    <div class="yearview_event_weekday">
      <:v:DoW|lookupdict?module=main&name=weekday>
    </div>
    <div class="yearview_event_date">
      <:v:D|padnumber:length=2>.<:v:M|padnumber:length=2>.<:v:Y>
    </div>
    <div class="yearview_event_description" id="event_description_<:v:id>">
      <span class="yearview_event_employeeabsence_qty"><strong><:v:qty></strong> day(s) of </span>
      <span class="yearview_event_employeeabsence_day_type" id="daytype_<:v:id>"><strong><:v:day_type_name></strong></span>
      (<:v:description>)
      <:_:ULconversion|filtervalue:varname=day_type&varvalue=UL|forwardtemplate?module=&name=absence.UL.conversion>
    </div>
  </div>
