  <tr class="mod2_<:v:_mod2_>">
    <td><:v:DateRegistered|dateformat?format=minutes></td>
    <td><:v:doctype></td>
    <td>
      <a class="dochistorytooltip" title="History of physical document location"
          href="#" rel="?i=vouchers/ajaxdochistory&id=<:v:id>"><img src="../images/icons/preview.png" border="0" height="16" width="16" /></a> <:v:name>
    </td>
    <td><:v:doc_location_type></td>
    <td><:v:doc_location_name></td>
    <td><:_:delivery|stopifempty:varname=delivery_ongoing|usevar:varname=delivery_method></td>
    <td><:_:deliveredlink|stopifempty:varname=delivery_ongoing|forwardtemplate?module=&name=dashboard.phdocs.listitem.deliveredlink></td>
  </tr>