<h1><:v:pagetitle></h1>

<:v:tabcontrol>

<script>
  $('#planner').load('?i=main/planner&nocache=<:_:nocache|nocachetoken>');
  $('#phdocs').load('?i=main/employeephdocs&nocache=<:_:nocache|nocachetoken>');   
</script>


<script>

/*

$('a.tickettooltip').cluetip({
  width: 720,
  sticky: true,
  closePosition: 'title',
  mouseOutClose: true
});


$('a.articletooltip').cluetip({
  width: 720,
  sticky: true,
  closePosition: 'title',
  mouseOutClose: true
});

*/

$('a.remindertooltip').cluetip({
  width: 500,
  sticky: true,
  closePosition: 'title',
  mouseOutClose: true
});

</script>