<h2>Dashboard settings</h2>

<form action="" method="post">
<input type="hidden" name="f" value="main/savedashboardsettings" />
<table class="form">
  <tr>
    <th>Default view</th>
    <td><select name="dashboard_defaultview"><:a:defaultviewoptions|looptemplate?module=main&name=option></select></td>
    <td>* Default tab to open in dashboard</td>
  </tr>
  <tr>
    <th>Maximum article age</th>
    <td><input type="text" size="2" maxlength="2" name="dashboard_articleage" value="<:v:dashboard_articleage>" /></td>
    <td>* Maximum number of days passed since last update of articles listed on 'New articles' tab.</td>
  </tr>
  <tr>
    <th>Maximum notification age</th>
    <td><input type="text" size="2" maxlength="2" name="dashboard_notificationage" value="<:v:dashboard_notificationage>" /></td>
    <td>* Maximum number of days passed since sending notification listed on 'Notification' tab.</td>
  </tr>
  <tr>
    <th>Office location</th>
    <td>
      <select name="dashboard_isexternal">
        <:a:locationoptions|looptemplate?module=main&name=option> 
      </select>
    </td>
    <td>* Server to be used in direct links to the system, included into notifications</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save"></td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
