<div id="linkpeople_<:v:controlname>_links">
</div>
<div id="linkpeople_<:v:controlname>_results"></div>
<div id="working_<:v:controlname>" style="display:none;">Working...</div>
<div id="linkpeople_<:v:controlname>_form">
</div>
<script>
  $('#linkpeople_<:v:controlname>_links').load('?i=<:v:_module_>/linkpeople_list&<:_:nocache|nocachetoken>&controlname=<:v:controlname>&src=<:v:src|urlencode>');
  $('#linkpeople_<:v:controlname>_form').load('?i=<:v:_module_>/linkpeople_form&<:_:nocache|nocachetoken>&controlname=<:v:controlname>&src=<:v:src|urlencode>');
</script>
