<html>
<head>

</head>
<body>

<p>
Here is the digest of latest unread notifications we have for you.
We strongly recommend you to review all your notifications on your 
<a href="<:conf:SERVERURL_EXTERNAL><:conf:BASEURL_SCRIPTS>/index.pl?p=main/dashboard">Dashboard</a>.
</p>

<p>
This is an automated mail message sent by robot. Therefore, do NOT reply to this mail!
</p>

<hr />

<:v:body>

<p style="color:green;">
Please, consider the environment before printing this email.
</p>

</body>
</html>