<html>
<head>
</head>
<body>

<p>
Here is your daily agenda for today. 
It is generated automatically based on your planner.
We strongly recommend you to review your Planner on your 
<a href="<:conf:SERVERURL_EXTERNAL><:conf:BASEURL_SCRIPTS>/index.pl?p=main/dashboard&tab=planner">Dashboard</a>.
When you use Planner tab on your Dashboard, you have additional option to forget and/or postpone the reminders!
</p>

<p>
This is an automated mail message sent by robot. Therefore, do NOT reply to this mail!
</p>

<hr />

<:v:today>
<:v:overdue>
<:v:future>

<p style="color:green;">
Please, consider the environment before printing this email.
</p>

</body>
</html>