
.notification_day {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 8px;
}

.notification_daylist{
}

.notification {
  padding-bottom: 3px;
  padding-top: 5px;
  border-top: solid #E9E9E9 1px;
}

.notification_subject {
  width: 962px;
  margin-bottom: 2px;
}

.notification_showdetails {
  float: left; 
  width: 120px;
}

.notification_hidedetails {
  float: left; 
  width: 120px;
}

.notification_date {
  float: left; 
  width: 50px; 
  text-align: left;
}

.notification_summary {
  float: left; 
  width: 792px;
}

.notification_details {
  width: 962px;
  margin: 0px 0px 2px 0px;
}

.notification_details_text {
  float: left;
  width: 840px;
  border: dotted 1px black;
}

.notification_details_keep_unread {
  float: left;
  width: 100px;
  text-align: left;
  padding-left: 20px;
}