  <tr class="mod2_<:v:_mod2_>">
    <td>
      <a href="?p=staff/employee&id=<:v:lngId>" title="Click to view employee"><img src="../images/icons/zoom.png" border="0" /></a>
      <span onclick="g('?p=staff/employee&id=<:v:lngId>');" title="Click to view employee"><:v:strFirstName> <b><:v:strLastName></b></span>
    </td>
    <td>
      &nbsp;<img src="../images/icons/calendar-red.png" border="0"> 
      <a href="?fwd=absencecalendar&id=<:v:lngId>">Absence calendar</a>&nbsp;
    </td>
    <td>
      &nbsp;<a href="?p=tickets/usertickets2react&user_id=<:v:lngId>">Waiting tickets</a>&nbsp;
    </td>
    <td>
      &nbsp;<img src="../images/icons/ticket.png" width="16" height="16" border="0">
      Tickets to <a href="?p=tickets/usertickets2handle&user_id=<:v:lngId>">handle</a>,
      <a href="?p=tickets/usertickets2review&user_id=<:v:lngId>">review</a> or
      <a href="?p=tickets/usertickets2follow&user_id=<:v:lngId>">follow</a>
      &nbsp;
    </td>
  </tr>
