
    .tabcontrol {
    	position: relative;
      border: solid 2px #5C82AF;
    }
    
    .tabcontrolheader {
    	position: relative;
    	height: 35px;
      border: none;
      margin: 0px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: #5C82AF;
    }
    
    .tabcontrolheadercontainer {
      width: 100%; 
      height: 30px;
      border: none;
      margin: 0px;
      padding-top: 5px;
    }
    
    .tab, .selectedtab {
      height: 18px;
      margin-left: 3px;
      margin-right: 3px;
      padding: 5px 10px 5px 10px;
      vertical-align: bottom;
    }

    .tab {
      background-color: #EEE;
      border: solid 1px #5C82AF;
    }
    
    .selectedtab {
      background: #FFFFFF;
      border: solid 1px #FFFFFF;
      font-weight: bold;
    }
    
    .floatleft {
      float: left;
    }

    .floatright {
      float: right;
    }
    
    .greentab {
      background: #E7FABB;
    }

    
    .tabcontrolbody {
      padding: 10px;
    }

    .tabcontrolcontrol {
      display: none;
    }
    
    .visibletabbody {
      display: block;
    }
    
    .hiddentabbody {
      display: none;
    }
