<a name="<:v:tabcontrolname>"></a><div id="<:v:tabcontrolname>" class="tabcontrol">

  <div id="<:v:tabcontrolname>_control" class="tabcontrolcontrol"></div>
  
  <div id="<:v:tabcontrolname>_header" class="tabcontrolheader">
    <div class="tabcontrolheadercontainer clearfix">
<:a:tabs|looptemplate?module=main&name=tabcontrol.tabheader>    
    </div>
  </div>
  
  <div id="<:v:tabcontrolname>_body" class="tabcontrolbody">
<:a:tabs|looptemplate?module=main&name=tabcontrol.tabcontent>    
  </div>
  
</div>

<script>
  switchTab('#<:v:tabcontrolname>_control', '#<:v:tabcontrolname>_tab_<:v:firstid>');    
</script>
