<form method="post" action="">
<input type="hidden" name="f" value="<:v:_module_>/save" />
<input type="hidden" name="id" value="<:v:id>" />
<table class="form">
  <tr>
    <th>Code</th>
    <td><input type="text" name="code" value="<:v:code>" size="40" maxlength="50" /></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><input type="text" name="title" value="<:v:title>" size="40" maxlength="250" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Save"></td>
  </tr>
</table>
</form>
