<form action="" methofd="post">
<input type="hidden" name="f" value="<:v:_module_>/simpledo" />
<input type="hidden" name="type" value="<:req:type>" />
<input type="hidden" name="returnUrl" value="<:req:returnUrl>" />
<input type="hidden" name="employee" value="<:req:employee>" />
<table class="form">
  <tr>
    <th>Employee</th>
    <td><:v:strFirstName> <:v:strLastName> (<:v:strNick>)</td>
  </tr>
  <tr>
    <th>Comment:</th>
    <td><textarea name="comment" rows="5" cols="60"></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Start"></td>
  </tr>
</table>
</form>